<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--2-col"></div>
	<div class="mdl-cell mdl-cell--8-col">
		<div class="listings">
			<% if listings.kind_of?(Array) %>
				<div class="text-center">Displaying <%= listings.length %> Favorite Listings</div>
				<% listings.each do |listing| %>
					<div class="listing">
						<h4 style="margin-bottom:0;"><a href="<%= listing.url %>" target="_blank"><%= listing.title %></a></h4>
						<span style="font-size:10px;"><a href="<%= listing.source %>" target="_blank"><%= listing.source %></a></span>
						<div style="font-size:12px;color:green;"><%= listing.employer %> - <%= listing.location %> - <%= listing.date_posted %></div>
						<div class="description"><%= listing.summary %></div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>