<!DOCTYPE html>
<html>
	<head>
		<title>JobHound</title>
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<link rel="stylesheet" href="/mdl/material.min.css">
		<script src="/mdl/material.min.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Raleway:600,400,200' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/style.css">
		<script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
		<script src="/js/actions.js"></script>
	</head>
	<body>
		<header>
			<h1 class="text-center"><a href="/" title="JobHound">JobHound</a><a href="/config" title="Configure JobHound" class="black inline"><i class="fa fa-cog font-16"></i></a></h1>
			<div class="menu text-center">
				<a href="/new" title="New Listings" class="<%= request.path_info == "/new" ? "active" : nil %>">New</a>&nbsp;|
				<a href="/interested" title="Interested Listings" class="<%= request.path_info == "/interested" ? "active" : nil %>">Interested</a>&nbsp;|
				<a href="/applied" title="Applied Listings" class="<%= request.path_info == "/applied" ? "active" : nil %>">Applied</a>&nbsp;|
				<a href="/followup" title="Followup Listings" class="<%= request.path_info == "/followup" ? "active" : nil %>">Followed Up</a>&nbsp;|
				<a href="/interviewed" title="Interviewed Listings" class="<%= request.path_info == "/interviewed" ? "active" : nil %>">Interviewed</a>&nbsp;|
				<a href="/dismissed" title="Dismissed Listings" class="<%= request.path_info == "/dismissed" ? "active" : nil %>">Dismissed</a>
			</div>
		</header>
		<%= yield %>
	</body>
</html>